.mainnav {
	// position: absolute !important;
	// top: 0px;
	// z-index: 1234;
	// background: url(/src/assets/images/menu_bg.png);
    background: #ffffff !important;
}

.branding{
    background: #ffc907 !important;
    width: 237px !important;
    height: 100% !important;
    margin-left: -10px !important;
}
.logo{
    // margin-left: 8px !important;
    
}

.mat-icon{
    color: #000 !important;
}