<nz-card [nzBordered]="true" nzTitle="{{cardTitle | uppercase}}" class="boxCard">
    <nz-table #basicTable nzSize="small" [nzData]="_data" [nzFrontPagination]="false" [nzLoading]="loading"
       [nzPageSize]="perPage" [nzPageIndex]="page" nzShowSizeChanger
      (nzQueryParams)="onQueryParamsChange($event)">
      <thead>
        <tr>
        
          
          <th>Phone Number</th>
          <th>Amount</th>
          <th>Transaction Type</th>
          <th>Actions</th>
        
        </tr>
      </thead>
      <tbody nzSize="small">
        <tr *ngFor="let data of basicTable.data">
      
          <td><code>{{data.phone}}</code></td>
          <td>
          {{data.amount}}
          </td>
          <td>
          {{data.type}}
          </td>
          <td (click)="deleteRecord(data)"><mat-icon>delete</mat-icon></td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>